<!doctype html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>电商CRM - 订单管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- <link href="http://192.168.87.131:92/assets/fonts/font.css" rel="stylesheet" type="text/css"/> -->
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../../assets/admin/pages/css/timeline-old.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/crm/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="../../assets/crm/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/crm/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body class="page-header-fixed page-quick-sidebar-over-content">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img src="../../assets/crm/layout/img/logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../../assets/crm/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
					王艳梅 </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="login.html">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li class="start">
                        <a href="javascript:;">
                            <i class="icon-home"></i>
                            <span class="title">工作台</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-folder"></i>
                            <span class="title">客户管理</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-globe"></i> 全部客户 <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#"><i class="icon-tag"></i> 客户详情页</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-pencil"></i> 订单详情页</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-bar-chart"></i> 公共客户</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-bar-chart"></i> 超30天未跟进客户</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-bar-chart"></i> 客户跟进及战败流程图</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="javascript:;">
                            <i class="icon-home"></i>
                            <span class="title">业务管理</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index.html">
                                    <i class="icon-bar-chart"></i> 买车顾问管理
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="icon-bar-chart"></i> 营销顾问管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-puzzle"></i>
                            <span class="title">统计报表</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="icon-bar-chart"></i> 品牌+城市报表</a></li>
                            <li><a href="#"><i class="icon-bar-chart"></i> 实时业务报表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank">
                            <i class="icon-paper-plane"></i>
                            <span class="title">
					任务管理 </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank">
                            <i class="icon-paper-plane"></i>
                            <span class="title">
					人员管理 </span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title">
			贷款订单
			</h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html">订单管理</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">贷款订单详情</a>
                        </li>
                    </ul>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabbable tabbable-tabdrop">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">订单详情</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">支付信息</a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab">订单历史</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                置换订单
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="row r1">
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12 col-sm-12">订单编号：<span class="s-val">3124154</span> </label>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12 col-sm-12">平台单号：<span class="s-val">124154</span></label>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12">订单状态：<span class="s-val">已放款 </span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- BEGIN 订单基本信息-->
                                    <div class="portlet box red">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                订单详情
                                            </div>
                                        </div>
                                        <div class="portlet-body  form-horizontal form-font-14" style="padding-left: 30px;">
                                            <div class="portlet">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        订单信息
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">下单时间：</label>
                                                            <label class=" control-label">2017-02-24 18:00:00</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">状态更新时间：</label>
                                                            <label class=" control-label">2017-02-24 18:00:00</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">借贷人姓名：</label>
                                                            <label class=" control-label">孙悟空</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">借贷人手机号：</label>
                                                            <label class=" control-label">188****5678</label>
                                                            <a href="##" class="btn zm-btn-1"><i class="fa fa-eye"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">贷款订单类型：</label>
                                                            <label class=" control-label">贷款+新车</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">套餐简称：</label>
                                                            <label class=" control-label">包商银行联合贷</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">贷款类别：</label>
                                                            <label class=" control-label">包商银行</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">还款方式：</label>
                                                            <label class=" control-label">信用卡分期</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">服务费状态：</label>
                                                            <label class=" control-label">待支付</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">服务费金额：</label>
                                                            <label class=" control-label">300,000元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">产品ID：</label>
                                                            <label class=" control-label">3141415</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">总花费：</label>
                                                            <label class=" control-label">59,737元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">首付比例：</label>
                                                            <label class=" control-label">30%</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">首付金额：</label>
                                                            <label class=" control-label">16,350元5</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">保证金金额：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">一次性付息：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">月供：</label>
                                                            <label class=" control-label">1,205元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">贷款期限：</label>
                                                            <label class=" control-label">36期</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">月费率/月利率：</label>
                                                            <label class=" control-label">0.71%</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">最后一月还贷：</label>
                                                            <label class=" control-label">1,205元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">尾付比例：</label>
                                                            <label class=" control-label">0%</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">尾付金额：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">贷款额度：</label>
                                                            <label class=" control-label">38,150元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">贷款成本：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">总利息：</label>
                                                            <label class=" control-label">5,237元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">手续费：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">放款日期：</label>
                                                            <label class=" control-label">2017-03-01 17:00:00</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">每月还款日期：</label>
                                                            <label class=" control-label">每日1日</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">GPS费用：</label>
                                                            <label class=" control-label">0元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">购置税：</label>
                                                            <label class=" control-label">
                                                                xxxx元
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">保险：</label>
                                                            <label class=" control-label">
                                                                0元
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">保养：</label>
                                                            <label class=" control-label">
                                                                0元
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">违章押金：</label>
                                                            <label class=" control-label">
                                                                0元
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        购车信息
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">车辆信息：</label>
                                                            <label class=" control-label">奥迪 A4L 2014款 车款车款车款</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">车架号（VIN）：</label>
                                                            <label class=" control-label">ABC3344RST5566777</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">购车城市：</label>
                                                            <label class=" control-label">北京</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">成交商家：</label>
                                                            <label class=" control-label">
                                                                北京哈弗汽车销售有限公司
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">成交价格：</label>
                                                            <label class=" control-label">200,000元</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">购车订单：</label>
                                                            <label class=" control-label"><a href="#">3331024</a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">下单人姓名：</label>
                                                            <label class=" control-label">孙悟空</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">下单人手机号：</label>
                                                            <label class=" control-label">188****5678</label>
                                                            <a href="##" class="btn zm-btn-1"><i class="fa fa-eye"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">销售顾问：</label>
                                                            <label class=" control-label">孙悟空</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">金融顾问：</label>
                                                            <label class=" control-label">林黛玉</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="tab2">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                服务费支付信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="row r1">
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12 col-sm-12">服务费金额：<span class="s-val">500元</span> </label>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12 col-sm-12">服务费状态：<span class="s-val">已支付</span></label>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <label class="control-label col-md-12">支付方式：<span class="s-val">支付宝/微信 </span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                <p class="col-lg-12 col-md-12 text-center">订单无支付信息</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- BEGIN 订单基本信息-->
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                服务费支付历史
                                            </div>
                                        </div>
                                        <div class="portlet-body  form-horizontal form-font-14" style="padding-left: 30px;">
                                            <div class="portlet">
                                                <div class="portlet-body">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 padding-top-25">
                                                        <ul class="timeline">
                                                            <li class="timeline-yellow">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年6月11日 </span>
                                                                    <span class="time">
                                                    18:30 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        退款完成，退款金额：500元
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="timeline-green">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年4月11日 </span>
                                                                    <span class="time">
                                                    12:04 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        金融订单发起服务费退款，退款人：运营妹纸
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="timeline-yellow">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年3月11日 </span>
                                                                    <span class="time">
                                                    05:36 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        服务费支付完成，支付方式：支付宝，实际支付金额：500元
                                                                    </div>
                                                                </div>
                                                            </li>
                                                           
                                                          
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 padding-top-25">
                                                        <ul class="timeline">
                                                            <li class="timeline-yellow">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年6月11日 </span>
                                                                    <span class="time">
                                                    18:30 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        退款完成，退款金额：500元
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="timeline-green">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年4月11日 </span>
                                                                    <span class="time">
                                                    12:04 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        金融订单发起服务费退款，退款人：运营妹纸
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="timeline-yellow">
                                                                <div class="timeline-time">
                                                                    <span class="date">
                                                    2016年3月11日 </span>
                                                                    <span class="time">
                                                    05:36 </span>
                                                                </div>
                                                                <div class="timeline-icon">
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <div class="timeline-content">
                                                                        服务费支付完成，支付方式：支付宝，实际支付金额：500元
                                                                    </div>
                                                                </div>
                                                            </li>
                                                           
                                                          
                                                        </ul>
                                                    </div>
                                




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; 易车·惠买车
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- END CORE PLUGINS -->
    <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../assets/crm/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../assets/crm/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="../../assets/crm/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="../../assets/admin/pages/scripts/components-pickers.js"></script>
    <script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
    });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
