<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>电商CRM - 客户管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/crm/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="../../assets/crm/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/crm/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
			<img src="../../assets/crm/layout/img/logo.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler hide">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" class="img-circle" src="../../assets/crm/layout/img/avatar3_small.jpg"/>
					<span class="username username-hide-on-mobile">
					王艳梅 </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="login.html">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container zm-wrap">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
				<li class="start">
					<a href="javascript:;">
					<i class="icon-home"></i>
					<span class="title">工作台</span>
					</a>
				</li>				
				<li class="active">
					<a href="javascript:;">
					<i class="icon-home"></i>
					<span class="title">客户管理</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="index.html">
							<i class="icon-bar-chart"></i>
							客户详情页</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-puzzle"></i>
					<span class="title">业务管理</span>
					<span class="arrow "></span>
					</a>
				</li>
				<li>
					<a href="javascript:;" target="_blank">
					<i class="icon-paper-plane"></i>
					<span class="title">
					任务管理 </span>
					</a>
				</li>
				<li>
					<a href="javascript:;" target="_blank">
					<i class="icon-paper-plane"></i>
					<span class="title">
					统计报表 </span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">


			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">客户管理</a>
                        <i class="fa fa-angle-right"></i>
					</li>
                    <li>
                        <a href="#">待办处理页</a>
                    </li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="i-img-wrap">
                        <img src="http://192.168.87.131:92/assets/crm/layout/img/man_100x100.jpg" alt="客户头像">
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="opts-wrap clearfix">
                        <div class="pull-left">
                            <a href="##" class="btn green">转移</a>
                            <a href="##" class="btn green">战败</a>
                            <a href="##" class="btn green">创建待办</a>
                        </div>
                        <div class="pull-right">
                            <a href="##" class="btn green">查看外出计划</a>
                            <a href="##" class="btn green">返回</a>
                        </div>
                    </div>
                    <!--form static label start-->
                    <div class="row r1">
                        <div class="col-md-6 col-sm-6">
                            <label class="control-label col-md-6 col-sm-6 zl-1">客户姓名：<span class="s-val">张小娴</span></label>
                            <div class="col-md-6 col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女
                                </label>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6 col-sm-6">
                            <label class="control-label col-md-7">客户来源：<span class="s-val">惠买车</span></label>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row r1">
                        <div class="col-md-6 col-sm-6">
                            <label class="control-label col-md-12 col-sm-12 zl-1">手机号码：<span class="s-val">1399265698（北京）</span><a href="##" class="btn zm-btn-1"><i class="fa fa-phone"></i></a><a href="##" class="btn zm-btn-1"><i class="fa  fa-envelope"></i></a></label>
                        </div>
                        <!--/span-->
                        <div class="col-md-6 col-sm-6">
                            <label class="control-label col-md-7">推荐人：<span class="s-val">李斌</span></label>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12">
                            <label class="control-label col-md-12 col-sm-12 zl-1">备用手机：<span class="s-val">1399265698（河北石家庄）</span><a href="##" class="btn zm-btn-1"><i class="fa fa-phone"></i></a><a href="##" class="btn zm-btn-1"><i class="fa  fa-envelope"></i></a></label>
                        </div>
                    </div>
                    <!--备用信息-->
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12">
                            <label class="control-label col-md-12 col-sm-12 zl-1">备用手机：<span class="s-val">李老板亲戚，目前客户还处在犹豫期，在多个车型中做对比，没有明确的购车时间及车型。</span></label>
                        </div>
                    </div>
                    <!--客户属性-->
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12 clearfix zm-struct-1">
                           <label class="k1">客户属性：</label>
                            <div class="rt-block">
                                <laybel class="col-md-12 col-sm-12 mb5"><span class="btn blue">异地</span><span class="btn"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;上牌城市：保定</span>
                                    <span class="btn"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;购车城市：石家庄</span>
                                    <span class="btn"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;手机归属：北京市</span>
                                </laybel>
                                <laybel class="col-md-12 col-sm-12 mb5"><span class="btn blue">置换</span>
                                    <span class="btn">【北京】一汽大众：出售中</span>
                                    <span class="btn">一汽大众 高尔夫 2015款1.2TSI 自动舒适型</span>
                                </laybel>
                                <laybel class="col-md-12 col-sm-12 mb5"><span class="btn blue">支付</span>
                                    <span class="btn">共支付过4笔</span>
                                </laybel>
                                <laybel class="col-md-12"><span class="btn blue">优惠券</span>
                                    <a href="##" class="btn zm-link-1">共5个有效优惠券</a>
                                </laybel>
                            </div>
                        </div>
                    </div>
                    <!--客户标签-->
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12">
                            <label class="control-label col-md-12 col-sm-12 zl-1">客户标签：<span class="s-val">老客户推荐，大客户</span></label>
                        </div>
                    </div>
                    <!--订单类型-->
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12">
                            <label class="control-label col-md-12 col-sm-12 zl-1">订单类型：<span class="btn btn-info">竞</span><span class="btn btn-success">团</span>&nbsp;&nbsp;共12单</label>
                        </div>
                    </div>
                    <!--订单品牌-->
                    <div class="row r1">
                        <div class="col-md-12 col-sm-12 zm-struct-1">
                            <label>订单品牌：</label>
                            <div class="rt-block">
                                <div class="rt-1">
                                    <img src="../../assets/crm/layout/img/chart.png" alt="">
                                </div>
                                <div class="rt-2">
                                    <img src="../../assets/crm/layout/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        待办跟进
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title-h3">订单信息：</h3>
                        <div class="todo-mg-order">
                            <ul>
                                <li><span>订单编号：</span><strong><a href="#">49315452</a></strong></li>
                                <li><span>下单时间：</span><strong>2015/10/15 14:41:31</strong></li>
                                <li><span>购车城市：</span><strong>北京</strong></li>
                                <li><span>意向车型：</span><strong>2014 哈佛 46 1.5T舒适型</strong></li>
                                <li><span>订单状态：</span><strong>待处理</strong></li>
                            </ul>
                        </div>
                        <h3 class="title-h3">CC信息：</h3>
                        <div class="todo-mg-order">
                            <ul>
                                <li><span>购车时间：</span><strong>2015-12-12</strong></li>
                                <li><span>购车方式：</span><strong>置换</strong></li>
                                <li><span>购车预算：</span><strong>100万</strong></li>
                                <li><span>置换意向：</span><strong>有</strong></li>
                                <li><span>是否有牌：</span><strong>有</strong></li>
                                <li><span>牌照属性：</span><strong>自有牌照</strong></li>
                                <li class="todo-mg-order-alone"><span>客服备注：</span><strong>这个客户计划在今年9月份买车，周末去店里看车，尽快联系！这个客户计划在今年9月份买车，周末去店里看车，尽快联系！</strong></li>
                            </ul>
                        </div>
                        <h3 class="title-h3">报价历史：</h3>
                        <div class="todo-mg-order">
                            <ul>
                                <li><span>报价时间：</span><strong>2015-12-12</strong></li>
                                <li><span>报价买顾：</span><strong>王瑶</strong></li>
                                <li><span>商家名称：</span><strong>北京大众会议</strong></li>
                                <li><span>报价车款：</span><strong>2014 哈弗H2 1.5T 手动 两驱 精英型</strong></li>
                                <li class="todo-mg-order-alone"><span>报价备注：</span><strong>这个客户计划在今年9月份买车，周末去店里看车，尽快联系！这个客户计划在今年9月份买车，周末去店里看车，尽快联系！</strong></li>
                            </ul>
                        </div>
                        <div class="todo-mg-order">
                            <ul>
                                <li><span>报价时间：</span><strong>2015-12-12</strong></li>
                                <li><span>报价买顾：</span><strong>王瑶</strong></li>
                                <li><span>商家名称：</span><strong>北京大众会议</strong></li>
                                <li><span>报价车款：</span><strong>2014 哈弗H2 1.5T 手动 两驱 精英型</strong></li>
                                <li class="todo-mg-order-alone"><span>报价备注：</span><strong>这个客户计划在今年9月份买车，周末去店里看车，尽快联系！这个客户计划在今年9月份买车，周末去店里看车，尽快联系！</strong></li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="title-h3">沟通记录：</h3>
                            <form action="#" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-lg-1 col-md-2 control-label">订单操作：</label>
                                        <div class="col-md-10">
                                            <a href="##" class="btn green">关闭交易</a>
                                            <a href="##" class="btn green">标记报价</a>
                                            <a href="##" class="btn green">确认成交</a>
                                            <a href="##" class="btn green">交易失败</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 col-md-2 control-label text-red">跟进阶段：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>初步沟通</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 col-md-2 control-label">客户级别：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group f1">
                                        <label class="col-lg-1 col-md-2 control-label">跟进结果：</label>
                                        <div class="col-md-10">
                                            <label class="radio-inline r1">
                                                <input type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="option1" checked> 约定看车时间
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="option1"> 继续跟进
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" id="inlineRadio5" value="option1"> 不需陪同
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" id="inlineRadio6" value="option1"> 不买车了
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" id="inlineRadio7" value="option1"> 客户已购车
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label">待办时间：</label>
                                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-8">
                                            <div class="col-md-4 m0">
                                                <input class="form-control form-control-inline date-picker" size="16" type="text" value="2015-07-01" data-date-format="yyyy-mm-dd">
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" value="2:30 PM" data-format="hh:mm A" class="form-control clockface_1">
                                            </div>
                                            <div class="col-md-12 m0">
                                                <span class="c-cyan-value">该时间段没有客户回访任务</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label">客户级别：</label>
                                        <div class="col-md-3">
                                            <label class="col-md-2 control-label">D</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-lg-1 col-md-2 col-sm-3 col-xs-6 control-label margin-bottom-10">商家信息：</label>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择品牌</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                                <option>Option 4</option>
                                                <option>Option 5</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择商家</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                                <option>Option 4</option>
                                                <option>Option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label">代办内容：</label>
                                        <div class="col-md-8"> <textarea class="form-control" rows="3"></textarea></div>
                                    </div>
                                    <div class="form-group f1">
                                        <label class="col-md-2 col-lg-1 control-label">是否战败：</label>
                                        <div class="col-md-10">
                                            <label class="radio-inline r1">
                                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio8" value="option1" checked> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio9" value="option1"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">战败原因：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>请选择</option>
                                                <option>价格太高</option>
                                                <option>取消购车计划</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">其他原因：</label>
                                        <div class="col-md-8"> <textarea class="form-control" rows="3"></textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">转移类型：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>选择类型</option>
                                                <option>本地</option>
                                                <option>外地</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">选择买顾：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">购车城市：</label>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2  col-lg-1 col-md-2 col-sm-3 col-xs-6 control-label margin-bottom-10 text-red">上牌城市：</label>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-lg-1 col-md-2 col-sm-3 col-xs-6 control-label margin-bottom-10 text-red">意向车型：</label>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 margin-bottom-10">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-lg-1 control-label text-red">转移原因：</label>
                                        <div class="col-md-8"> <textarea class="form-control" rows="3"></textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 col-lg-1 col-md-2 control-label">跟进备注：</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="3"></textarea>
                                            <div class="opts-wrap-2">
                                                <input class="btn green" type="button" value="保存">
                                                <input class="btn green" type="button" value="保存创建下次待办">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                 </div>
                </div>
            </div>
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        客户基本信息
                    </div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" role="form">
                        <div class="col-md-12">
                            <div class="c-custominfo">
                                <table class="c-infotb" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="7%">
                                            <label class="control-label">备用手机：</label>
                                        </td>
                                        <td width="18%">
                                            <div class="c-kj"><input type="text" class="form-control" placeholder="请输入备用手机"><span id="name-error" class="help-block help-block-error">This field is required.</span></div>
                                        </td>
                                        <td width="7%">
                                            <label class="control-label">黑名单客户：</label>
                                        </td>
                                        <td width="18%">
                                            <div class="c-kj">
                                                <div class="radio-list">
                                                    <label class="radio-inline">
                                                    <input type="radio" name="optionsRadios" value="option1"> 是</label>
                                                    <label class="radio-inline">
                                                    <input type="radio" name="optionsRadios" value="option2" checked> 否</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="7%">
                                            <label class="control-label">客户生日：</label>
                                        </td>
                                        <td>
                                            <div class="c-kj input-icon right">
                                                <i class="fa fa-calendar tooltips" data-original-title="点击选择客户生日" data-container="body"></i>
                                                <input type="text" class="form-control date-picker" placeholder="点击选择客户生日">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label">客户标签：</label>
                                        </td>
                                        <td colspan="5">    
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="option1"> 大客户 </label>
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="option2"> 内部推荐 </label>
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="option3" disabled> 老客户推荐 </label>
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="option3" disabled> 买顾亲友 </label>
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="option3" disabled> VIP </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">购车城市：</label></td>
                                        <td>
                                            <div class="c-kj">
                                                <select class="form-control">
                                                    <option>北京</option>
                                                    <option>已战败</option>
                                                    <option>已成交</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td><label class="control-label">上牌城市：</label></td>
                                        <td colspan="3">
                                            <div class="c-kj c-select-city">
                                                <select class="form-control">
                                                    <option>北京</option>
                                                    <option>已战败</option>
                                                    <option>已成交</option>
                                                </select>
                                            </div>
                                            <div class="c-kj c-select-city">
                                                <select class="form-control">
                                                    <option>北京</option>
                                                    <option>已战败</option>
                                                    <option>已成交</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">付款方式：</label></td>
                                        <td>
                                            <div class="c-kj">
                                                <select class="form-control">
                                                    <option>北京</option>
                                                    <option>已战败</option>
                                                    <option>已成交</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td><label class="control-label">购车预算：</label></td>
                                        <td>
                                            <div class="c-kj">
                                                <select class="form-control">
                                                    <option>北京</option>
                                                    <option>已战败</option>
                                                    <option>已成交</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td><label class="control-label">预购时间：</label></td>
                                        <td>
                                            <div class="c-kj input-icon right">
                                                <i class="fa fa-calendar tooltips" data-original-title="点击选择预购时间" data-container="body"></i>
                                                <input type="text" class="form-control date-picker" placeholder="点击选择预购时间">
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table class="c-infotb" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="7%">
                                            <label class="control-label">主意向车辆：</label>                                                                 
                                        </td>
                                        <td width="70%">
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>汽车品牌</option>
                                                    <option>A 奥迪</option>
                                                </select>
                                            </div>
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>车型</option>
                                                    <option>速腾</option>
                                                    <option>迈腾</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-sm-6 col-xs-8">
                                                <select class="form-control">
                                                    <option>车款</option>
                                                    <option>速腾2015</option>
                                                    <option>速腾2014</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label">次意向车辆：</label>                                                                 
                                        </td>
                                        <td>
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>汽车品牌</option>
                                                    <option>A 奥迪</option>
                                                </select>
                                            </div>
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>车型</option>
                                                    <option>速腾</option>
                                                    <option>迈腾</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-sm-6 col-xs-8">
                                                <select class="form-control">
                                                    <option>车款</option>
                                                    <option>速腾2015</option>
                                                    <option>速腾2014</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;                                                              
                                        </td>
                                        <td>
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>汽车品牌</option>
                                                    <option>A 奥迪</option>
                                                </select>
                                            </div>
                                            <div class="c-kj c-fl">
                                                <select class="form-control">
                                                    <option>车型</option>
                                                    <option>速腾</option>
                                                    <option>迈腾</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-sm-6 col-xs-8">
                                                <select class="form-control">
                                                    <option>车款</option>
                                                    <option>速腾2015</option>
                                                    <option>速腾2014</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>

                                <table class="c-infotb" width="100%" cellpadding="0" cellspacing="0">                            
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="5"><div class="c-save"><button type="submit" class="btn btn-block green">保存</button></div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>                                             
                </div>
            </div>
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        服务历史
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>服务时间</th>
                                    <th>角色</th>
                                    <th>服务人员</th>
                                    <th>关联订单号</th>
                                    <th>沟通对象</th>
                                    <th>沟通内容</th>
                                    <th>录音</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2015-04-28 23:08:31</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="javascript:;" class="btn default btn-xs black" onclick="showaudio()">
                                        <i class="fa fa-play-circle"></i> 收听 </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2015-04-28 23:08:31</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="#luyin" class="btn default btn-xs black" data-toggle="modal">
                                        <i class="fa fa-play-circle"></i> 收听 </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2015 &copy; 易车·惠买车
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- END CORE PLUGINS -->
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../assets/admin/pages/scripts/components-pickers.js"></script>
<script>
      jQuery(document).ready(function() {    
        Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		ComponentsPickers.init(); //init 日历
      });
   </script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>