<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>电商CRM - 消息中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/jstree/dist/themes/default/style.min.css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/crm/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../../assets/crm/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/crm/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/clockface/css/clockface.css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img src="../../assets/crm/layout/img/logo.png" alt="logo" class="logo-default"/>
            </a>

            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <img alt="" class="img-circle" src="../../assets/crm/layout/img/avatar3_small.jpg"/>
					<span class="username username-hide-on-mobile">
					王艳梅 </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="login.html">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <li class="start">
                    <a href="javascript:;">
                        <i class="icon-home"></i>
                        <span class="title">工作台</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span class="title">客户管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-user"></i> 全部客户 <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><i class="icon-tag"></i> 客户详情页</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-pencil"></i> 订单详情页</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> 公共客户</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> 超30天未跟进客户</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="javascript:;">
                        <i class="fa fa-file-text-o"></i>
                        <span class="title">线索管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="active">
                            <a href="javascript:;">
                                <i class="fa fa-user"></i> 线索管理 <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="active">
                                    <a href="#"><i class="icon-tag"></i> 批量导入线索</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-pencil"></i> 线索导入模板</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-user"></i> 线索来源配置 <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><i class="icon-settings"></i> 新建/编辑线索来源</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <span class="title">业务管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="index.html">
                                <i class="icon-bar-chart"></i>
                                买车顾问管理</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;">
                        <i class="icon-puzzle"></i>
                        <span class="title">统计报表</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#"><i class="icon-bar-chart"></i> 买顾工作业绩统计</a></li>
                        <li><a href="#"><i class="icon-bar-chart"></i> 买顾新分配客户跟进数据</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" target="_blank">
                        <i class="glyphicon glyphicon-tasks"></i>
					<span class="title">
					任务管理 </span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                客户管理
            </h3>

            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">首页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">消息中心</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">系统公告</a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="portlet box">
                        <div class="page-header" style="text-align: center">
                            <h3>习近平对人口与计划生育工作作出重要指示</h3>
                            <p>2016年05月01日 19:00</p>
                        </div>
                        <div class="portlet-body">
                            <!-- 放摘要-->
                            <p>摘要：中共中央总书记、国家主席、中央军委主席习近平作出重要指示，向大会的召开表示热烈祝贺，向受到表彰的先进集体和个人表示崇高敬意，向广大计生协会员、志愿者、工作者表示衷心问候。</p>
                            <!-- 放正文-->
                            <p style="padding: 0px; margin: 23px auto 0px; list-style: none; font-size: 14px; line-height: 26px; font-family: SimSun; color: rgb(43, 43, 43); overflow: visible !important;">新华社北京5月18日电（记者吴晶、胡浩）<a href="http://country.huanqiu.com/china" class="linkAbout" target="_blank" title="中国" style="padding: 0px 0px 2px; margin: 0px 5px; color: rgb(6, 52, 111); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(6, 52, 111);">中国</a>计划生育协会第八次全国会员代表大会暨先进表彰会18日在京召开，中共中央总书记、国家主席、中央军委主席习近平作出重要指示，向大会的召开表示热烈祝贺，向受到表彰的先进集体和个人表示崇高敬意，向广大计生协会员、志愿者、工作者表示衷心问候。</p>
                            <p style="padding: 0px; margin: 23px auto 0px; list-style: none; font-size: 14px; line-height: 26px; font-family: SimSun; color: rgb(43, 43, 43); overflow: visible !important;">　　 习近平指出，人口问题始终是我国面临的全局性、长期性、战略性问题。在未来相当长时期内，我国人口众多的基本国情不会根本改变，人口对经济社会发展的压力不会根本改变，人口与资源环境的紧张关系不会根本改变，计划生育基本国策必须长期坚持。</p>
                            <p style="padding: 0px; margin: 23px auto 0px; list-style: none; font-size: 14px; line-height: 26px; font-family: SimSun; color: rgb(43, 43, 43); overflow: visible !important;">　　 习近平强调，多年来，中国计生协进行了卓有成效的工作，为我国计划生育事业作出了积极贡献。希望中国计生协认真履行肩负的职责，引导广大人民群众正确认识当前我国生育政策调整完善的重大意义，切实做好宣传教育、生殖健康咨询服务、优生优育指导、计划生育家庭帮扶、权益维护和流动人口服务等各项工作。希望各级党委和政府发挥好计生协组织作用，推动计划生育基本国策贯彻落实，促进人口长期均衡发展与家庭和谐幸福，为实现全面建成小康社会奋斗目标、实现中华民族伟大复兴的中国梦作出新的更大的贡献。</p>
                            <h4><p style="padding: 0px; margin: 23px auto 0px; list-style: none; font-size: 14px; line-height: 26px; font-family: SimSun; color: rgb(43, 43, 43); overflow: visible !important;"></p>
                            </h4>
                        </div>
                        <div class="page-footer " style="text-align: center">
                            <p class="col-md-offset-4 to-next"><a href="##" class="col-md-3"><i class="fa fa-step-backward"></i>&emsp;上一条</a> <a href="##" class="col-md-3">下一条&emsp;<i class="fa fa-step-forward"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            <!-- 弹层 -->
            <!-- <div class="modal fade in" id="fenpei" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">分配买车顾问</h4>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="col-lg-12 col-md-12">
                                <div class="c-ffleft">
                                    <div id="tree_1" class="tree-demo">
                                        <ul>
                                            <li>
                                                 北京市
                                                <ul>
                                                    <li data-jstree='{ "icon" : "fa fa-user " }'>
                                                        <a href="javascript:;">
                                                        张强</a>
                                                    </li>
                                                    <li data-jstree='{ "icon" : "fa fa-user" }'>
                                                         李明
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                 上海市
                                                <ul>
                                                    <li data-jstree='{ "icon" : "fa fa-user " }'>
                                                        <a href="javascript:;">
                                                        张强</a>
                                                    </li>
                                                    <li data-jstree='{ "icon" : "fa fa-user" }'>
                                                         李明
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="c-ffarrow"><i class="fa fa-angle-double-right"></i></div>
                                <div class="c-ffright">
                                    <ul class="c-ffusers">
                                        <li><a href="javascript:;">张强<span class="glyphicon glyphicon-remove"></span></a></li>
                                        <li><a href="javascript:;">张强<span class="glyphicon glyphicon-remove"></span></a></li>
                                        <li><a href="javascript:;">张强<span class="glyphicon glyphicon-remove"></span></a></li>
                                        <li><a href="javascript:;">张强<span class="glyphicon glyphicon-remove"></span></a></li>
                                        <li><a href="javascript:;">张强<span class="glyphicon glyphicon-remove"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12"><textarea class="form-control reason"></textarea></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue" data-dismiss="modal">确定</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>

            </div> -->
            <!-- /.modal -->
            <!-- 弹层 -->
            <!-- <div class="modal fade in" id="fenpei" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">创建买顾待办</h4>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="col-lg-12 col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">待办类型：</label>
                                            <div class="col-md-9 base-form-value">
                                                线索清洗
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">待办来源：</label>
                                            <div class="col-md-9 base-form-value">
                                                CRM创建
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">待办时间：</label>
                                            <div class="col-md-9">
                                                <div class="col-md-8 m0">
                                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="2015-07-01" data-date-format="yyyy-mm-dd"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="2:30 PM" data-format="hh:mm A" class="form-control clockface_1"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">分配买顾：</label>
                                            <div class="col-md-9">
                                                <div class="radio-list">
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked> 系统自动分配</label>
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2"> 指定买顾 </label>
                                                    <label>
                                                </div>
                                                <div class="other-reason-ctrl">
                                                    <div class="col-md-6 m0">
                                                            <select class="form-control">
                                                                <option>北京</option>
                                                                <option>Option 2</option>
                                                                <option>Option 3</option>
                                                                <option>Option 4</option>
                                                                <option>Option 5</option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <select class="form-control">
                                                                <option>张强</option>
                                                                <option>Option 2</option>
                                                                <option>Option 3</option>
                                                                <option>Option 4</option>
                                                                <option>Option 5</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">待办备注：</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue" data-dismiss="modal">确定</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- /.modal -->


        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2015 &copy; 易车·惠买车
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript"
        src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../assets/global/plugins/jstree/dist/jstree.min.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="../../assets/admin/pages/scripts/ui-tree.js"></script>
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../assets/crm/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../assets/admin/pages/scripts/components-pickers.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/clockface/js/clockface.js"></script>
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        ComponentsPickers.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>